<template>
  <div class="data-table">
    <div class="data-table__filter">
      <ui-money @inputMoney="$event => moneyFilter = $event" />
    </div>
    <div class="data-table__grid">
      <div class="data-table__grid__header">
        <a :style="'width: ' + row.width" v-for="(row, id) in columns" :key="id">
          {{ row.label }}
        </a>
      </div>
      <div class="data-table__grid__content">
        <div
          v-for="(row, id) in shownRows"
          :key="id"
        >
          <a v-for="(column, columnId) in columns" :key="columnId">
            <span>{{ column.label }}</span>
            <p v-if="column.prop === 'date'">
              {{ row.date | date }}
            </p>
            <p v-else-if="column.prop === 'money'">
              {{ row.money | price }}
            </p>
            <p v-else>
              {{ row[column.prop] }}
            </p>
          </a>
        </div>
      </div>
    </div>

    <div class="data-table__paginator">
      <ui-pagination
        v-model="page"
        :pages="pageCount"
        @input="$event => page = $event"
      />
    </div>
  </div>
</template>

<script>
export default {

  name: 'DataTable',

  props: {
    rows: {
      type: Array,
      required: true,
    },
    columns: {
      type: Array,
      required: true,
    },
  },

  data: () => ({
    page: 1,
    pageSize: 4,
    moneyFilter: 0,
  }),

  computed: {
    pageFirstNumber() {
      return (this.page - 1) * this.pageSize;
    },
    pageLastNumber() {
      return this.page * this.pageSize;
    },
    paginatorRows() {
      return this.rows
        .filter((item, index) => (index >= this.pageFirstNumber) && (index < this.pageLastNumber));
    },
    shownRows() {
      return this.paginatorRows.filter((item) => {
        if (this.moneyFilter) {
          return item.money <= this.moneyFilter;
        }
        return true;
      });
    },
    countRows() {
      return this.rows.filter((item) => {
        if (this.moneyFilter) {
          return item.money <= this.moneyFilter;
        }
        return true;
      }).length;
    },
    pageCount() {
      return Math.ceil(this.countRows / this.pageSize);
    },
  },
  watch: {
    moneyFilter() {
      this.$emit('inputMoney', this.unFormatted);
    },
  },
};
</script>
<style lang="scss" scoped="scoped">
.flex {
  display: flex;
}

.data-table {
  &__grid {
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 100%;

    &__header {
      display: flex;
    }

    &__content {
      div {
        display: flex;
      }
    }

    div {
      a {
        padding: 10px;
        text-align: center;
        border: 1px solid grey;

        &:nth-child(1) {
          width: 15%;
        }
        &:nth-child(2) {
          width: 20%;
        }
        &:nth-child(3) {
          width: 30%;
        }
        &:nth-child(4) {
          width: 35%;
        }

        span {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .data-table__grid {
    &__header {
      display: none;
    }

    &__content {
      div {
        display: grid;
        border: 1px solid grey;

        a {
          width: 100% !important;
          text-align: left;
          border: none;

          span {
            display: block;
            font-weight: 600;
          }
        }
      }
    }
  }
}

</style>
