<template>
  <input
    @keypress="validate"
    @input="change"
    type="text"
    v-model="valueInput"
    class="ui-money"
  />
</template>

<script>
export default {

  name: 'UiMoney',

  props: {
    value: {
      type: String,
      require: true,
    },
  },

  data() {
    return {
      valueInput: '',
    };
  },
  computed: {
    unFormatted() {
      return parseFloat(this.valueInput.replace(/\s+/g, ''));
    },
  },
  methods: {
    change(e) {
      this.$emit('inputMoney', this.unFormatted);
      this.valueInput = this.$options.filters.input(this.valueInput);
      e.preventDefault();
    },
    validate(e) {
      // проверка на число
      const re = new RegExp('^[0-9,.]$', 'g');
      if (e.key.search(re) === -1) {
        e.preventDefault();
      }
    },
  },
};
</script>
